
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .note-input {
    margin-bottom: 20px;
    align-items: center;
  }
  
  #newNotes {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .note-list {
    margin-top: 20px;
  }
  
  .note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .note b {
    font-size: 18px;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  